@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    min-height: 100vh;
    background-color:#280137;
}
.content {
    max-width: 800px;
    margin: 300px 100px;
}
.model {
    height: 550px;
    position: absolute ;
    bottom: 54px;
    left: 85%;
    transform: translateX(-73%);
}
h2{
    color: #00a86b;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 10px;
    margin-bottom: 100px;
}
.content p{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: -30px;
    margin-bottom: 30px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
header .logo{
    color: #00a86b;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-right: 30px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #00a86b;
    color: #101820FF;
    transition: 0.5s;
}
.media-icons{
 display: flex;
 justify-content: center;
 align-items: center;
}
.media-icons a:not(:last-child){
    margin-right: 80px;
}
.media-icons a{
    position: relative;
    color: white;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icons a:hover{
    transform: scale(1.5)
}
